.slider {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    width: 90%;
    height: 78%;
    display: none;
    align-items: center;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.slider>.images>img {
    margin: auto;
    box-sizing: border-box;
    width: 20%;
    padding: 1%;
    border-radius: 50%;
    user-select: none;
    overflow: hidden;
}

.active {
    display: flex;
}

span {
    cursor: pointer;
    position: absolute;
    width: 6%;
    height: 5%;
}

.next {
    background: url(./images/next.svg) no-repeat;
    right: 0px;
}


.prev {
    background: url(./images/before.svg) no-repeat;
    left: 0px;
}

.carousel {
    display: flex;
    align-items: center;
    width: fit-content;
    height: auto;
    box-sizing: border-box;
    border-radius: 1%;
}