.slides {
    background: url('./img-slides/background.png') no-repeat center;
    height: 856px;
    mix-blend-mode: color-burn;

    .slides-children {
        width: 75%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .itens {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 55%;

    }

}