.banner {
    background: url('./robo-b.jpg') no-repeat center;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .children {
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}